.sidebar-toggle {
  position: fixed;
  right: 50px;
  bottom: 45px;
  width: 15px;
  height: 15px;
  padding: 5px;
  background: $black-deep;
  line-height: 0;
  z-index: $zindex-5;
  cursor: pointer;
  -webkit-transform: translateZ(0);

  +tablet() {
    right: 20px;
    bottom: 45px;
    -moz-opacity: 0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;
  }
  +mobile() {
    right: 20px;
    bottom: 45px;
    -moz-opacity: 0.8;  
    -khtml-opacity: 0.8;  
    opacity: 0.8;
  }
}



.sidebar-toggle-line {
  position: relative;
  display: block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: white;
  margin-top: 3px;

  &:first-child { margin-top: 0; }
  +mobile() {
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
  }
}
