.sidebar-toggle {
  position: fixed;
  right: 50px;
  bottom: 45px;
  width: 15px;
  height: 15px;
  padding: 5px;
  background: $black-deep;
  line-height: 0;
  z-index: $zindex-5;
  cursor: pointer;
  -webkit-transform: translateZ(0);

  +tablet() {
    right: 20px;
    opacity: 0.8;
  }
  +mobile() {
    right: 20px;
    opacity: 0.8;
  }
}



.sidebar-toggle-line {
  position: relative;
  display: block;
  vertical-align: top;
  height: 2px;
  width: 100%;
  background: white;
  margin-top: 3px;

  &:first-child { margin-top: 0; }
  +mobile() {
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
  }
}

.sidebar-active #sidebar-dimmer {
  opacity: .7;
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  transition: opacity .2s;
}

#sidebar-dimmer {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity .2s,transform 0s .2s;
  +mobile() {
    display: block;
  }
}